<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5IBD4N8ZXmt9cpb-ISc69D2pcUdsaJkU</string>
	<key>GCM_SENDER_ID</key>
	<string>215514246017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trend74x.futsaldai</string>
	<key>PROJECT_ID</key>
	<string>futsal-dai</string>
	<key>STORAGE_BUCKET</key>
	<string>futsal-dai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215514246017:ios:1c668a46923fe5012dd680</string>
</dict>
</plist>